.no-script {
  margin-top: 25px; }
  .no-script #warped {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 1064.9999694824219px;
    height: 665.0034679777827px; }
    .no-script #warped > span[class^=w]:nth-of-type(n+0) {
      display: block;
      position: absolute;
      -moz-transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      -o-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
    .no-script #warped span {
      font-family: 'Lato';
      font-size: 38px;
      font-weight: 900;
      font-style: normal;
      line-height: 0.65;
      white-space: pre;
      overflow: visible;
      padding: 0px; }
    .no-script #warped .w0 {
      -moz-transform: rotate(4.56rad);
      -webkit-transform: rotate(4.56rad);
      -o-transform: rotate(4.56rad);
      -ms-transform: rotate(4.56rad);
      transform: rotate(4.56rad);
      width: 26px;
      height: 24px;
      left: 170.7px;
      top: 398.72px; }
    .no-script #warped .w1 {
      -moz-transform: rotate(4.63rad);
      -webkit-transform: rotate(4.63rad);
      -o-transform: rotate(4.63rad);
      -ms-transform: rotate(4.63rad);
      transform: rotate(4.63rad);
      width: 11px;
      height: 24px;
      left: 175.57px;
      top: 375.37px; }
    .no-script #warped .w2 {
      -moz-transform: rotate(4.68rad);
      -webkit-transform: rotate(4.68rad);
      -o-transform: rotate(4.68rad);
      -ms-transform: rotate(4.68rad);
      transform: rotate(4.68rad);
      width: 12px;
      height: 24px;
      left: 174.17px;
      top: 358.9px; }
    .no-script #warped .w3 {
      -moz-transform: rotate(4.73rad);
      -webkit-transform: rotate(4.73rad);
      -o-transform: rotate(4.73rad);
      -ms-transform: rotate(4.73rad);
      transform: rotate(4.73rad);
      width: 17px;
      height: 24px;
      left: 171.6px;
      top: 339.4px; }
    .no-script #warped .w4 {
      -moz-transform: rotate(4.79rad);
      -webkit-transform: rotate(4.79rad);
      -o-transform: rotate(4.79rad);
      -ms-transform: rotate(4.79rad);
      transform: rotate(4.79rad);
      width: 10px;
      height: 24px;
      left: 176.05px;
      top: 320.93px; }
    .no-script #warped .w5 {
      -moz-transform: rotate(4.83rad);
      -webkit-transform: rotate(4.83rad);
      -o-transform: rotate(4.83rad);
      -ms-transform: rotate(4.83rad);
      transform: rotate(4.83rad);
      width: 14px;
      height: 24px;
      left: 175.78px;
      top: 304.02px; }
    .no-script #warped .w6 {
      -moz-transform: rotate(4.89rad);
      -webkit-transform: rotate(4.89rad);
      -o-transform: rotate(4.89rad);
      -ms-transform: rotate(4.89rad);
      transform: rotate(4.89rad);
      width: 12px;
      height: 24px;
      left: 179.5px;
      top: 286.23px; }
    .no-script #warped .w7 {
      -moz-transform: rotate(4.93rad);
      -webkit-transform: rotate(4.93rad);
      -o-transform: rotate(4.93rad);
      -ms-transform: rotate(4.93rad);
      transform: rotate(4.93rad);
      width: 12px;
      height: 24px;
      left: 182.92px;
      top: 269.58px; }
    .no-script #warped .w8 {
      -moz-transform: rotate(4.99rad);
      -webkit-transform: rotate(4.99rad);
      -o-transform: rotate(4.99rad);
      -ms-transform: rotate(4.99rad);
      transform: rotate(4.99rad);
      width: 19px;
      height: 24px;
      left: 184.61px;
      top: 249.75px; }
    .no-script #warped .w9 {
      -moz-transform: rotate(5.06rad);
      -webkit-transform: rotate(5.06rad);
      -o-transform: rotate(5.06rad);
      -ms-transform: rotate(5.06rad);
      transform: rotate(5.06rad);
      width: 19px;
      height: 24px;
      left: 192.15px;
      top: 226.97px; }
    .no-script #warped .w10 {
      -moz-transform: rotate(5.12rad);
      -webkit-transform: rotate(5.12rad);
      -o-transform: rotate(5.12rad);
      -ms-transform: rotate(5.12rad);
      transform: rotate(5.12rad);
      width: 12px;
      height: 24px;
      left: 203.32px;
      top: 207.96px; }
    .no-script #warped .w11 {
      -moz-transform: rotate(5.17rad);
      -webkit-transform: rotate(5.17rad);
      -o-transform: rotate(5.17rad);
      -ms-transform: rotate(5.17rad);
      transform: rotate(5.17rad);
      width: 14px;
      height: 24px;
      left: 209.97px;
      top: 191.67px; }
    .no-script #warped .w12 {
      -moz-transform: rotate(5.24rad);
      -webkit-transform: rotate(5.24rad);
      -o-transform: rotate(5.24rad);
      -ms-transform: rotate(5.24rad);
      transform: rotate(5.24rad);
      width: 21px;
      height: 24px;
      left: 217.19px;
      top: 171.89px; }
    .no-script #warped .w13 {
      -moz-transform: rotate(5.31rad);
      -webkit-transform: rotate(5.31rad);
      -o-transform: rotate(5.31rad);
      -ms-transform: rotate(5.31rad);
      transform: rotate(5.31rad);
      width: 19px;
      height: 24px;
      left: 231.56px;
      top: 150.77px; }
    .no-script #warped .w14 {
      -moz-transform: rotate(5.37rad);
      -webkit-transform: rotate(5.37rad);
      -o-transform: rotate(5.37rad);
      -ms-transform: rotate(5.37rad);
      transform: rotate(5.37rad);
      width: 17px;
      height: 24px;
      left: 246.18px;
      top: 132.24px; }
    .no-script #warped .w15 {
      -moz-transform: rotate(5.43rad);
      -webkit-transform: rotate(5.43rad);
      -o-transform: rotate(5.43rad);
      -ms-transform: rotate(5.43rad);
      transform: rotate(5.43rad);
      width: 12px;
      height: 24px;
      left: 261.15px;
      top: 117.26px; }
    .no-script #warped .w16 {
      -moz-transform: rotate(5.48rad);
      -webkit-transform: rotate(5.48rad);
      -o-transform: rotate(5.48rad);
      -ms-transform: rotate(5.48rad);
      transform: rotate(5.48rad);
      width: 13px;
      height: 24px;
      left: 272.55px;
      top: 104.42px; }
    .no-script #warped .w17 {
      -moz-transform: rotate(5.53rad);
      -webkit-transform: rotate(5.53rad);
      -o-transform: rotate(5.53rad);
      -ms-transform: rotate(5.53rad);
      transform: rotate(5.53rad);
      width: 12px;
      height: 24px;
      left: 285.57px;
      top: 92.2px; }
    .no-script #warped .w18 {
      -moz-transform: rotate(5.58rad);
      -webkit-transform: rotate(5.58rad);
      -o-transform: rotate(5.58rad);
      -ms-transform: rotate(5.58rad);
      transform: rotate(5.58rad);
      width: 14px;
      height: 24px;
      left: 298.07px;
      top: 80.3px; }
    .no-script #warped .w19 {
      -moz-transform: rotate(5.63rad);
      -webkit-transform: rotate(5.63rad);
      -o-transform: rotate(5.63rad);
      -ms-transform: rotate(5.63rad);
      transform: rotate(5.63rad);
      width: 12px;
      height: 24px;
      left: 313.17px;
      top: 69.11px; }
    .no-script #warped .w20 {
      -moz-transform: rotate(5.68rad);
      -webkit-transform: rotate(5.68rad);
      -o-transform: rotate(5.68rad);
      -ms-transform: rotate(5.68rad);
      transform: rotate(5.68rad);
      width: 10px;
      height: 24px;
      left: 327.17px;
      top: 59.79px; }
    .no-script #warped .w21 {
      -moz-transform: rotate(5.73rad);
      -webkit-transform: rotate(5.73rad);
      -o-transform: rotate(5.73rad);
      -ms-transform: rotate(5.73rad);
      transform: rotate(5.73rad);
      width: 14px;
      height: 24px;
      left: 339.44px;
      top: 50.55px; }
    .no-script #warped .w22 {
      -moz-transform: rotate(5.78rad);
      -webkit-transform: rotate(5.78rad);
      -o-transform: rotate(5.78rad);
      -ms-transform: rotate(5.78rad);
      transform: rotate(5.78rad);
      width: 12px;
      height: 24px;
      left: 356.01px;
      top: 41.53px; }
    .no-script #warped .w23 {
      -moz-transform: rotate(5.85rad);
      -webkit-transform: rotate(5.85rad);
      -o-transform: rotate(5.85rad);
      -ms-transform: rotate(5.85rad);
      transform: rotate(5.85rad);
      width: 24px;
      height: 24px;
      left: 370.56px;
      top: 31.2px; }
    .no-script #warped .w24 {
      -moz-transform: rotate(5.93rad);
      -webkit-transform: rotate(5.93rad);
      -o-transform: rotate(5.93rad);
      -ms-transform: rotate(5.93rad);
      transform: rotate(5.93rad);
      width: 24px;
      height: 24px;
      left: 397.36px;
      top: 20.14px; }
    .no-script #warped .w25 {
      -moz-transform: rotate(6.01rad);
      -webkit-transform: rotate(6.01rad);
      -o-transform: rotate(6.01rad);
      -ms-transform: rotate(6.01rad);
      transform: rotate(6.01rad);
      width: 24px;
      height: 24px;
      left: 424.98px;
      top: 11.34px; }
    .no-script #warped .w26 {
      -moz-transform: rotate(6.09rad);
      -webkit-transform: rotate(6.09rad);
      -o-transform: rotate(6.09rad);
      -ms-transform: rotate(6.09rad);
      transform: rotate(6.09rad);
      width: 24px;
      height: 24px;
      left: 453.24px;
      top: 4.87px; }
    .no-script #warped .w27 {
      -moz-transform: rotate(6.16rad);
      -webkit-transform: rotate(6.16rad);
      -o-transform: rotate(6.16rad);
      -ms-transform: rotate(6.16rad);
      transform: rotate(6.16rad);
      width: 13px;
      height: 24px;
      left: 481.97px;
      top: 1.36px; }
    .no-script #warped .w28 {
      -moz-transform: rotate(6.21rad);
      -webkit-transform: rotate(6.21rad);
      -o-transform: rotate(6.21rad);
      -ms-transform: rotate(6.21rad);
      transform: rotate(6.21rad);
      width: 12px;
      height: 24px;
      left: 499.9px;
      top: -0.24px; }
    .no-script #warped .w29 {
      -moz-transform: rotate(6.27rad);
      -webkit-transform: rotate(6.27rad);
      -o-transform: rotate(6.27rad);
      -ms-transform: rotate(6.27rad);
      transform: rotate(6.27rad);
      width: 17px;
      height: 24px;
      left: 516.88px;
      top: -0.99px; }
    .no-script #warped .w30 {
      -moz-transform: rotate(6.34rad);
      -webkit-transform: rotate(6.34rad);
      -o-transform: rotate(6.34rad);
      -ms-transform: rotate(6.34rad);
      transform: rotate(6.34rad);
      width: 21px;
      height: 24px;
      left: 538.87px;
      top: -0.41px; }
    .no-script #warped .w31 {
      -moz-transform: rotate(6.41rad);
      -webkit-transform: rotate(6.41rad);
      -o-transform: rotate(6.41rad);
      -ms-transform: rotate(6.41rad);
      transform: rotate(6.41rad);
      width: 19px;
      height: 24px;
      left: 564.75px;
      top: 1.94px; }
    .no-script #warped .w32 {
      -moz-transform: rotate(6.48rad);
      -webkit-transform: rotate(6.48rad);
      -o-transform: rotate(6.48rad);
      -ms-transform: rotate(6.48rad);
      transform: rotate(6.48rad);
      width: 21px;
      height: 24px;
      left: 588.41px;
      top: 6.07px; }
    .no-script #warped .w33 {
      -moz-transform: rotate(6.54rad);
      -webkit-transform: rotate(6.54rad);
      -o-transform: rotate(6.54rad);
      -ms-transform: rotate(6.54rad);
      transform: rotate(6.54rad);
      width: 11px;
      height: 24px;
      left: 613.84px;
      top: 10.89px; }
    .no-script #warped .w34 {
      -moz-transform: rotate(6.59rad);
      -webkit-transform: rotate(6.59rad);
      -o-transform: rotate(6.59rad);
      -ms-transform: rotate(6.59rad);
      transform: rotate(6.59rad);
      width: 17px;
      height: 24px;
      left: 629.05px;
      top: 16.31px; }
    .no-script #warped .w35 {
      -moz-transform: rotate(6.65rad);
      -webkit-transform: rotate(6.65rad);
      -o-transform: rotate(6.65rad);
      -ms-transform: rotate(6.65rad);
      transform: rotate(6.65rad);
      width: 12px;
      height: 24px;
      left: 649.9px;
      top: 22.89px; }
    .no-script #warped .w36 {
      -moz-transform: rotate(6.71rad);
      -webkit-transform: rotate(6.71rad);
      -o-transform: rotate(6.71rad);
      -ms-transform: rotate(6.71rad);
      transform: rotate(6.71rad);
      width: 19px;
      height: 24px;
      left: 665.27px;
      top: 30.9px; }
    .no-script #warped .w37 {
      -moz-transform: rotate(6.78rad);
      -webkit-transform: rotate(6.78rad);
      -o-transform: rotate(6.78rad);
      -ms-transform: rotate(6.78rad);
      transform: rotate(6.78rad);
      width: 19px;
      height: 24px;
      left: 686.71px;
      top: 41.66px; }
    .no-script #warped .w38 {
      -moz-transform: rotate(6.85rad);
      -webkit-transform: rotate(6.85rad);
      -o-transform: rotate(6.85rad);
      -ms-transform: rotate(6.85rad);
      transform: rotate(6.85rad);
      width: 19px;
      height: 24px;
      left: 707.37px;
      top: 53.88px; }
    .no-script #warped .w39 {
      -moz-transform: rotate(6.92rad);
      -webkit-transform: rotate(6.92rad);
      -o-transform: rotate(6.92rad);
      -ms-transform: rotate(6.92rad);
      transform: rotate(6.92rad);
      width: 19px;
      height: 24px;
      left: 727.13px;
      top: 67.48px; }
    .no-script #warped .w40 {
      -moz-transform: rotate(6.98rad);
      -webkit-transform: rotate(6.98rad);
      -o-transform: rotate(6.98rad);
      -ms-transform: rotate(6.98rad);
      transform: rotate(6.98rad);
      width: 14px;
      height: 24px;
      left: 746.51px;
      top: 80.8px; }
    .no-script #warped .w41 {
      -moz-transform: rotate(7.04rad);
      -webkit-transform: rotate(7.04rad);
      -o-transform: rotate(7.04rad);
      -ms-transform: rotate(7.04rad);
      transform: rotate(7.04rad);
      width: 17px;
      height: 24px;
      left: 760.31px;
      top: 94.44px; }
    .no-script #warped .w42 {
      -moz-transform: rotate(7.1rad);
      -webkit-transform: rotate(7.1rad);
      -o-transform: rotate(7.1rad);
      -ms-transform: rotate(7.1rad);
      transform: rotate(7.1rad);
      width: 17px;
      height: 24px;
      left: 775.81px;
      top: 110.05px; }
    .no-script #warped .w43 {
      -moz-transform: rotate(7.15rad);
      -webkit-transform: rotate(7.15rad);
      -o-transform: rotate(7.15rad);
      -ms-transform: rotate(7.15rad);
      transform: rotate(7.15rad);
      width: 11px;
      height: 24px;
      left: 791.37px;
      top: 124.3px; }
    .no-script #warped .w44 {
      -moz-transform: rotate(7.21rad);
      -webkit-transform: rotate(7.21rad);
      -o-transform: rotate(7.21rad);
      -ms-transform: rotate(7.21rad);
      transform: rotate(7.21rad);
      width: 21px;
      height: 24px;
      left: 799.34px;
      top: 140.81px; }
    .no-script #warped .w45 {
      -moz-transform: rotate(7.27rad);
      -webkit-transform: rotate(7.27rad);
      -o-transform: rotate(7.27rad);
      -ms-transform: rotate(7.27rad);
      transform: rotate(7.27rad);
      width: 12px;
      height: 24px;
      left: 816.07px;
      top: 158.49px; }
    .no-script #warped .w46 {
      -moz-transform: rotate(7.32rad);
      -webkit-transform: rotate(7.32rad);
      -o-transform: rotate(7.32rad);
      -ms-transform: rotate(7.32rad);
      transform: rotate(7.32rad);
      width: 12px;
      height: 24px;
      left: 824.94px;
      top: 172.99px; }
    .no-script #warped .w47 {
      -moz-transform: rotate(7.38rad);
      -webkit-transform: rotate(7.38rad);
      -o-transform: rotate(7.38rad);
      -ms-transform: rotate(7.38rad);
      transform: rotate(7.38rad);
      width: 19px;
      height: 24px;
      left: 831.2px;
      top: 191.02px; }
    .no-script #warped .w48 {
      -moz-transform: rotate(7.45rad);
      -webkit-transform: rotate(7.45rad);
      -o-transform: rotate(7.45rad);
      -ms-transform: rotate(7.45rad);
      transform: rotate(7.45rad);
      width: 17px;
      height: 24px;
      left: 841.86px;
      top: 211.88px; }
    .no-script #warped .w49 {
      -moz-transform: rotate(7.5rad);
      -webkit-transform: rotate(7.5rad);
      -o-transform: rotate(7.5rad);
      -ms-transform: rotate(7.5rad);
      transform: rotate(7.5rad);
      width: 12px;
      height: 24px;
      left: 851.46px;
      top: 230.04px; }
    .no-script #warped .w50 {
      -moz-transform: rotate(7.56rad);
      -webkit-transform: rotate(7.56rad);
      -o-transform: rotate(7.56rad);
      -ms-transform: rotate(7.56rad);
      transform: rotate(7.56rad);
      width: 19px;
      height: 24px;
      left: 854.32px;
      top: 249.53px; }
    .no-script #warped .w51 {
      -moz-transform: rotate(7.63rad);
      -webkit-transform: rotate(7.63rad);
      -o-transform: rotate(7.63rad);
      -ms-transform: rotate(7.63rad);
      transform: rotate(7.63rad);
      width: 19px;
      height: 24px;
      left: 860.29px;
      top: 272.77px; }
    .no-script #warped .w52 {
      -moz-transform: rotate(7.69rad);
      -webkit-transform: rotate(7.69rad);
      -o-transform: rotate(7.69rad);
      -ms-transform: rotate(7.69rad);
      transform: rotate(7.69rad);
      width: 12px;
      height: 24px;
      left: 867.62px;
      top: 292.9px; }
    .no-script #warped .w53 {
      -moz-transform: rotate(7.75rad);
      -webkit-transform: rotate(7.75rad);
      -o-transform: rotate(7.75rad);
      -ms-transform: rotate(7.75rad);
      transform: rotate(7.75rad);
      width: 21px;
      height: 24px;
      left: 865.86px;
      top: 314.23px; }
    .no-script #warped .w54 {
      -moz-transform: rotate(7.82rad);
      -webkit-transform: rotate(7.82rad);
      -o-transform: rotate(7.82rad);
      -ms-transform: rotate(7.82rad);
      transform: rotate(7.82rad);
      width: 19px;
      height: 24px;
      left: 868.38px;
      top: 339.17px; }
    .no-script #warped .w55 {
      -moz-transform: rotate(7.91rad);
      -webkit-transform: rotate(7.91rad);
      -o-transform: rotate(7.91rad);
      -ms-transform: rotate(7.91rad);
      transform: rotate(7.91rad);
      width: 32px;
      height: 24px;
      left: 861.32px;
      top: 369.66px; }
    .no-script #warped .w56 {
      -moz-transform: rotate(8rad);
      -webkit-transform: rotate(8rad);
      -o-transform: rotate(8rad);
      -ms-transform: rotate(8rad);
      transform: rotate(8rad);
      width: 17px;
      height: 24px;
      left: 865.75px;
      top: 398.99px; }
    .no-script #warped .w57 {
      -moz-transform: rotate(8.05rad);
      -webkit-transform: rotate(8.05rad);
      -o-transform: rotate(8.05rad);
      -ms-transform: rotate(8.05rad);
      transform: rotate(8.05rad);
      width: 13px;
      height: 24px;
      left: 864.26px;
      top: 418.68px; }
  .no-script *, .no-script :after, .no-script :before {
    box-sizing: border-box; }
  .no-script .pull-left {
    float: left; }
  .no-script .pull-right {
    float: right; }
  .no-script .clearfix:after, .no-script .clearfix:before {
    content: '';
    display: table; }
  .no-script .clearfix:after {
    clear: both;
    display: block; }
  .no-script .owl:after,
  .no-script .owl .owl-head:before,
  .no-script .owl .owl-head .owl-ears:before,
  .no-script .owl .owl-head .owl-ears:after,
  .no-script .owl .owl-head .owl-eyes:after,
  .no-script .owl .owl-head .owl-eyes:before,
  .no-script .owl .owl-head .owl-eyes .owl-eye:before,
  .no-script .owl .owl-head .owl-eyes .owl-eye:after,
  .no-script .owl .owl-body .owl-wings:before,
  .no-script .owl .owl-body .owl-wings:after,
  .no-script .owl .owl-body .owl-feathers:before,
  .no-script .owl .owl-body .owl-feathers:after,
  .no-script .owl .owl-legs .owl-leg:before,
  .no-script .owl .owl-legs .owl-leg:after,
  .no-script .owl .owl-tail:before,
  .no-script .owl .owl-tail:after {
    content: '';
    position: absolute; }
  .no-script .owl {
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border: 6px solid;
    margin-top: -175px;
    margin-left: -175px;
    border-radius: 50%;
    background: #ef5539;
    position: absolute; }
    .no-script .owl:after {
      left: 50%;
      z-index: 2;
      bottom: 30px;
      width: 550px;
      height: 35px;
      background: #fff;
      border: 6px solid;
      margin-left: -275px;
      border-radius: 40px;
      box-shadow: 0 -12px 0px #e6e6e6 inset; }
    .no-script .owl .owl-head {
      z-index: 5;
      margin: auto;
      width: 145px;
      height: 145px;
      background: #fff;
      border-radius: 50%;
      position: relative;
      margin-top: 35px !important;
      border: 5px solid #241e20; }
      .no-script .owl .owl-head:before {
        left: 50%;
        top: -1px;
        width: 145px;
        height: 72.5px;
        background: #000;
        margin-left: -72.5px;
        border-radius: 70px 70px 0 0; }
      .no-script .owl .owl-head .owl-eyes {
        top: 20px;
        z-index: 1;
        width: 135px;
        height: 80px;
        position: absolute; }
        .no-script .owl .owl-head .owl-eyes:before, .no-script .owl .owl-head .owl-eyes:after {
          z-index: 0;
          width: 80px;
          height: 80px;
          background: #000;
          border-radius: 50%; }
        .no-script .owl .owl-head .owl-eyes:before {
          left: -6px; }
        .no-script .owl .owl-head .owl-eyes:after {
          right: -6px; }
        .no-script .owl .owl-head .owl-eyes .owl-eye {
          top: 5px;
          z-index: 2;
          width: 70px;
          height: 70px;
          background: #fff;
          border-radius: 50%;
          position: absolute; }
          .no-script .owl .owl-head .owl-eyes .owl-eye:after {
            width: 25px;
            height: 25px;
            background: #000;
            border-radius: inherit;
            box-shadow: 0 0 0 10px #ddd; }
          .no-script .owl .owl-head .owl-eyes .owl-eye:before {
            z-index: 1;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: inherit; }
          .no-script .owl .owl-head .owl-eyes .owl-eye:before, .no-script .owl .owl-head .owl-eyes .owl-eye:after {
            top: 25px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-left:before, .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-right:before {
            margin-top: 5px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-left {
            left: -1px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-right {
            right: -1px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-left:before, .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-left:after {
            left: 25px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-left:before {
            margin-left: 5px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-right:before, .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-right:after {
            right: 25px; }
          .no-script .owl .owl-head .owl-eyes .owl-eye.owl-eye-right:before {
            margin-right: 5px; }
      .no-script .owl .owl-head .owl-mouth {
        left: 50%;
        width: 20px;
        height: 20px;
        bottom: 35px;
        border: 5px solid;
        background: #eb5b38;
        border-radius: 1px;
        position: absolute;
        margin-left: -10px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 5px #fff,0 0 0 10px #000; }
      .no-script .owl .owl-head .owl-ears:before,
      .no-script .owl .owl-head .owl-ears:after {
        width: 35px;
        height: 50px;
        background: #000; }
      .no-script .owl .owl-head .owl-ears:before {
        left: 0;
        border-radius: 0 35px 35px 0; }
      .no-script .owl .owl-head .owl-ears:after {
        right: 0;
        border-radius: 35px 0 0 35px; }
    .no-script .owl .owl-body {
      z-index: 2;
      margin: auto;
      width: 185px;
      height: 230px;
      overflow: hidden;
      background: #fff;
      border-radius: 50%;
      margin-top: -100px;
      position: relative; }
      .no-script .owl .owl-body .owl-wings {
        width: 100%;
        height: 100%; }
        .no-script .owl .owl-body .owl-wings:before, .no-script .owl .owl-body .owl-wings:after {
          top: 0;
          width: 45px;
          height: inherit;
          background: #000; }
        .no-script .owl .owl-body .owl-wings:before {
          left: -5px;
          border-right: 5px solid #242021;
          transform: rotate(-5deg); }
        .no-script .owl .owl-body .owl-wings:after {
          right: -5px;
          border-left: 5px solid #242021;
          transform: rotate(5deg); }
      .no-script .owl .owl-body .owl-feathers {
        left: 50%;
        width: 6px;
        height: 40px;
        bottom: 55px;
        border-radius: 5px;
        background: #231f20;
        position: absolute;
        margin-left: -3px; }
        .no-script .owl .owl-body .owl-feathers:before, .no-script .owl .owl-body .owl-feathers:after {
          top: 50%;
          height: 24px;
          width: inherit;
          margin-top: -12px;
          background: inherit;
          border-radius: inherit; }
        .no-script .owl .owl-body .owl-feathers:before {
          left: -12px; }
        .no-script .owl .owl-body .owl-feathers:after {
          right: -12px; }
    .no-script .owl .owl-legs {
      left: 50%;
      z-index: 5;
      height: 40px;
      width: 145px;
      bottom: 45px;
      position: absolute;
      margin-left: -72.5px; }
      .no-script .owl .owl-legs .owl-leg {
        width: 40px;
        height: 40px;
        position: relative; }
        .no-script .owl .owl-legs .owl-leg:before, .no-script .owl .owl-legs .owl-leg:after {
          top: 0;
          width: 20px;
          height: 40px;
          background: #fff;
          border-radius: 20px;
          border: 5px solid #241e20; }
        .no-script .owl .owl-legs .owl-leg:before {
          left: 0; }
        .no-script .owl .owl-legs .owl-leg:after {
          right: 0; }
    .no-script .owl .owl-tail {
      top: -8px;
      z-index: 5;
      margin: auto;
      width: 30px;
      height: 100px;
      background: #000;
      position: relative;
      border-radius: 0 0 30px 30px; }
      .no-script .owl .owl-tail:before, .no-script .owl .owl-tail:after {
        height: 75px;
        width: inherit;
        background: inherit;
        border-radius: inherit; }
      .no-script .owl .owl-tail:before {
        right: 100%; }
      .no-script .owl .owl-tail:after {
        left: 100%; }

/*# sourceMappingURL=no-script.css.map */
