/*
Variables
*/
$color_scheme_body: #EAEAEA;
$color_scheme_white: #ffffff;
$color_scheme_red: #BD1E1E;
$color_scheme_disabled: #808080;
$color_scheme_button_hover: #d9d9d9;
$color_scheme_dark_blue: #18206F;
$color_scheme_light_blue: #26547C;
$color_scheme_dark_black: #36454f;

$border_radius_button: 5px;
$border_radius_field: 3px;

//Checkbox Variables


/*
	MAIN STYLESHEET
*/

/*
	STYLES FOR INPUT FIELDS
*/
.info-circle {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-left: 5px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	font-size: 0.9em;
	font-weight: bolder;
	background-color: $color_scheme_button_hover;
}
.field {
	display: block;
	margin: 5px 0;
	height: 45px;
	z-index: 1;
	position: relative;

	* {
		display: inline-block;
	}
}
.container-textbox {
	position: relative;
	margin: 15px 0;

	input[disabled][type='text']:focus {
		border: 2px solid $color_scheme_disabled !important;
	}
	input[disabled][type='text'] + label {
		background: $color_scheme_disabled !important;
	}
	input[type='text'] {
		display: inline-block;
		height: 40px;
		box-sizing: border-box;
		outline: none;
		border: 2px solid $color_scheme_disabled;
		border-radius: $border_radius_field;
		padding: 10px 10px 10px 135px;
		font-weight: bold;
		background-color: $color_scheme_white;
		&:focus {
			border: 2px solid $color_scheme_dark_blue;
		}
	}
	input[type='text'] + label {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 40px;
		line-height: 40px;
		color: $color_scheme_white;
		border-radius: $border_radius_field 0 0 $border_radius_field;
		background: $color_scheme_red;
	}

	.file {
		width: 700px;
		+ label {
			padding: 0 17px 0 20px;
		}
	}
	.counter {
		width: 65px;
		height: 30px !important;
		padding: 0 5px 0 5px !important;
	}
	.path {
		width: 90%;
		height: 30px !important;
		padding: 0 5px 0 5px !important;
	}
	.replacementText {
		width: 100%;
		height: 30px !important;
		padding: 0 5px 0 5px !important;
	}
	.video {
		width: 400px;
		+ label {
			padding: 0 48px 0 20px !important;
		}
	}
	.audio {
		width: 400px;
		+ label {
			padding: 0 47px 0 20px !important;
		}
	}
	.subtitle {
		width: 400px;
		+ label {
			padding: 0 20px 0 20px !important;
		}
	}
}
.container-dropdown {
	select {
		height: 40px;
		padding-left: 15px;
		padding-right: 10px;
		outline: none;
		border: 2px solid $color_scheme_disabled;
		border-radius: $border_radius_field;
		font-weight: bold;

		&:focus {
			border: 2px solid $color_scheme_dark_blue;
		}
	}

}
.container-checkbox {
	height: 30px;

	span {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-left: 8px;
		line-height: 15px;
	}
}
.container-delete-track, .container-remove-track {
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: top;
	margin-top: 15px;
	border-radius: $border_radius_field;
	img {
		padding-top: 2.5px;
		height: 35px;
	}
}
.container-delete-track {
	background-color: $color_scheme_dark_black;
}
.container-remove-track {
	background-color: $color_scheme_red;
}
.container-arranged-numbers {
	display: block;
	text-align: center;
	width: 50%;
	margin: 55px auto 0 auto;

	div {
		font-size: 2em;
		margin: 0 3px 4px 3px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: $border_radius_button;
		border: 2px solid $color_scheme_disabled;
		display: inline-block;
	}
}
.spacer-textbox {
	display: inline-block;
	width: 400px;
}
.spacer-dropdown {
	display: inline-block;
	&.language {
		width: 129px;
	}
	&.default, &.forced {
		width: 78.6px;
	}
}



/*
	STYLES FOR THE OPTIONS AREA
*/
.side-option {
	.button-open-option {
		writing-mode: vertical-lr;
		text-orientation: upright;
		position: absolute;
		top: 218px;
		left: 0;
		border: 2px solid $color_scheme_dark_black;
		border-left: none;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		font-weight: bold;
		padding: 2px;
		font-size: 1.1em;
		&:hover {
			background-color: $color_scheme_button_hover;
		}
	}
	.side-option-area {
		position: fixed;
		display: block;
		width: 300px;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: $color_scheme_body;
		border-right: 4px ridge $color_scheme_dark_black;
		transition: 1s;
		z-index: 2;
		overflow: hidden;

		&.closed {
			width: 0 !important;
		}

		.close-more-options {
			position: relative;
			background-color: $color_scheme_dark_black;
			width: 100%;
			padding: 5px 10px 10px 10px;

			text-align: right;

			img {
				height: 35px;
				margin-right: 15px;
			}
		}
		.remove-leading-zero {
			padding-top: 10px;
			padding-left: 10px;
			width: 100%;
			
			.title {
				font-size: 1.25em;
				font-weight: bold;
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}
}

.option-area {
	display: block;
	width: 95%;
	margin: 0 auto 45px auto;
	border: 2px solid $color_scheme_disabled;
	border-top: none;
	border-radius: $border_radius_field;
	height: 120px;
	z-index: 1;

	> div {
		display: inline-block;
		vertical-align: top;
	}

	.new-field-area {
		width: 12.5%;
		margin-left: 10px;
		height: 100px;

		.new-field-button {
			display: block;
			margin: 0 auto;
			width: 110px;
			border: 2px solid $color_scheme_disabled;
			padding: 5px 0;
			text-align: center;
			background-color: $color_scheme_body;

			&:hover {
				background-color: $color_scheme_button_hover;
			}

			&.video {
				border-top-left-radius: $border_radius_button;
				border-top-right-radius: $border_radius_button;
				border-bottom: none;
			}
			&.audio {

			}
			&.subtitle {
				border-bottom-left-radius: $border_radius_button;
				border-bottom-right-radius: $border_radius_button;
				border-top: none;
			}
		}
	}
	.counter-start-area {
		width: 15%;
		height: 100px;
	}
	.counter-checkbox-area {
		width: 12.5%;
		height: 100px;

		> div {
			display: block;
			margin: 2px 0;
		}
	}
	.remove-tracks-area {
		width: 20%;
		height: 100px;
		> div {
			display: block;
			margin: 2px 0;
		}
	}
	.default-mkvmerge-location-area {
		width: 35%;
		height: 50px;
	}
	.bottomRightOptions {
		height: 30px;
		width: 35%;
		position: relative;
		left: 62.5%;
		bottom: 20px;

		div {
			height: 100%;
			display: inline-block;
			vertical-align: top;
		}
		.container-checkbox span {
			vertical-align: middle;
		}
		.replaceUnderlineArea {
			width: 50%;
			margin-right: 0;
			padding-right: 0;
		}
		.blank_divider {
			display: inline-block;
			width: 12.5%;
			height: 30px;
			vertical-align: middle;
		}
		.container-textbox {
			width: 30%;
			margin: -3.5px 0 0 7px !important;
		}
	}
}

/*
	STYLES FOR THE TEXTAREA
*/
.download-area {
	position: relative;
	width: 95%;
	margin: 75px auto 0 auto;
	z-index: 1;

	textarea {
		position: relative;
		width: 100%;
		height: 400px;
		outline: none;
		border: 2px solid $color_scheme_disabled;
		border-radius: $border_radius_field;
		resize: none;
		z-index: 1;
	}
	.button-area {
		position: relative;
		width: 100%;
		margin-bottom: -2.25px;
		text-align: center;
		z-index: 2;

		.button {
			display: inline-block;
			height: 50px;
			width: 175px;
			text-align: center;
			line-height: 50px;
			border: 2px solid $color_scheme_disabled;
			border-bottom: none;
			font-weight: bold;
			font-size: 1.2em;

			&.left {
				border-right-width: 1.25px;
				border-top-left-radius: 5px;
			}
			&.right {
				border-left-width: 1.25px;
				border-top-right-radius: 5px;
			}
			&:hover {
				background-color: $color_scheme_button_hover;
			}
		}
	}
}





/*
	MY DEFAULT PAGE STYLES
	EDIT WITH DESIRED DESIGN
	#591.23
*/
.header {
	color: #F3F4F5;
	background-color: $color_scheme_dark_blue;
	background-image: url('../../images/stars.png'), url('../../images/stars2.png');
	box-shadow: -0.5px 5px 2px rgba(0, 0, 0, 0.75);
	padding: 20px 40px;
	margin-bottom: 5px;
	position: relative;

	.logo {
		height: 150px;
	}
	.phrase {
		position: absolute;
		right: 20px;
	}
	.presets {
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
	.readme {
		color: white;
	}
}
.body {
	padding: 25px 25px 100px 25px;
	background-color: $color_scheme_body;
}
.footer {
	color: #F3F4F5;
	background-color: $color_scheme_light_blue;
	box-shadow: -0.5px -3px 2px rgba(0, 0, 0, 0.75);
	width: 90%;
	text-align: left;
	padding: 45px 5%;
	margin-top: 3px;

	&:hover {
		background-image: url('../../images/anime_roll.png');
		background-size: 200px;
		background-position: right;
		background-repeat: no-repeat;
	}
}
/*
	END #591.23
*/


/*
	Page Layout
	STAYS THE SAME
	#11211
*/
body {
	min-width: 1100px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
/*
	END #11211
*/


/*
	MY DEFAULT STYLES
	#1034.02
*/
.font-dosis {
	font-family: 'Dosis', sans-serif;
}
.font-indieflower {
	font-family: 'Indie Flower', cursive;
}
.font-mirza {
	font-family: 'Mirza', cursive;
}
.clear {
	clear: both;
}
.hover-cursor:hover {
	cursor: pointer;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
	display: none !important;
}
/*
	END #1034.02
*/
